main {
    position: relative;
}
.mota-container {
  margin: 90px auto auto auto;
  padding: 4rem;
}
.mota-container h1 {
  font-size: 1.75rem;
  color: rgb(78, 172, 255);
  text-align: center;
  margin-bottom: 10px;
}
.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #595959;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}
.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #595959;
}
.accordion a:hover::after {
  border: 1px solid #595959;
}
.accordion a.active {
  color: #595959;
  border-bottom: 1px solid #595959;
}
.accordion a::after {
  font-family: 'Ionicons';
  content: '+';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 20px;
  color: #7288a2;
  padding: 5px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
  font-weight: bolder;
}
.accordion a.active::after {
  font-family: 'Ionicons';
  content: '-';
  font-weight: bolder;
  font-size: 20px;
  color: rgb(78, 172, 255);
  border: 1px solid rgb(78, 172, 255);
}
.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
  background: #f6e3ff;
}
.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}
.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}
/* section1 */
.sectionfaq1 {
  width: 100%;
  padding: 40px 90px 20px 90px;
  background-color: #fff;
}
.bek-out {
  align-items: center;
  justify-content: center;
  display: flex;
}
.bek-col-md-6 {
  width: 50%;
}
.bek-col-md-6 p {
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.bek-col-md-6 p span {
  color: #ff2b2b;
  font-size: 60px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}
.bek-col-md-6 img {
  width: 85%;
}

/* media query */
@media only screen and (max-width: 770px) {
  .bek-out {
    flex-direction: column;
  }
  .bek-col-md-6 {
    width: 100%;
  }
}